{% extends 'basetemplate.html' %}


{% block script %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% endblock script %}

{% block content %}
<div class= "container-fluid">
  <div class = "row">
<figure class="highcharts-figure">
  <div id="container">
  </div>
  </div>

</figure>
</div>
<script type="application/javascript"> 
Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Monthly Average Volume'
    },
    subtitle: {
        text: 'xd'
    },
    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    yAxis: {
        title: {
            text: 'Volume (m)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'You',
        data: {{volumes}}
    }, {
        name: 'Your goal',
        data: [100,150, 500, 85, 99, 152, 300, 106, 132, 103, 66, 48]
    }]
});
    

</script>


{% endblock content %}
