{% extends 'basetemplate.html' %}


{% block script %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% endblock script %}

{% block content %}
<h1 style="text-align: center;margin: 3%">Your stats</h1>
<div class= "container-fluid" style="width: 60%;margin-top: 2%;">
  <div class = "row" style="align-self: flex-end;">
<figure class="highcharts-figure">
  <div id="container">
  </div>
  </div>

</figure>
</div>

<div class= "container-fluid" style="width: 60%;margin-top: 3%;">
  <div class = "row" style="align-self: flex-end;">
<figure class="highcharts-figure">
  <div id="Piecontainer">
  </div>
  </div>

</figure>
</div>

<script type="application/javascript"> 
Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Monthly Average Volume'
    },
    subtitle: {
        text: 'xd'
    },
    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    yAxis: {
        title: {
            text: 'Volume (Kg)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'You',
        data: {{volumes}}
    }, {
        name: 'Your goal',
        data: [100,150, 500, 85, 99, 152, 300, 106, 132, 103, 66, 48]
    }]
});


console.log("{{exercises.1.0}}")
Highcharts.chart('Piecontainer', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Your monthly exercises'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Porcentaje',
        colorByPoint: true,
        data: [{
            name: "{{exercises.0.0}}",
            y: {{exercises.0.1}},
            sliced: true,
            selected: true
        }, {
            name: "{{exercises.1.0}}",
            y: {{exercises.1.1}}
        }, {
            name: "{{exercises.2.0}}",
            y: {{exercises.2.1}}
        }, {
            name: "{{exercises.0.0}}",
            y: {{exercises.2.1}}
        }, {
            name: "{{exercises.0.0}}",
            y: 4.18
        }, {
            name: "{{exercises.0.0}}",
            y: 7.05
        }]
    }]
});
    

</script>


{% endblock content %}
