{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <!-- Meta tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width = 320, initial-scale = 2.3, user-scalable = no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="description" content="LevelUp Eda - Proyecto">
    <meta name="keywords" content="LevelUp">
    <meta name="author" content="EDA2021">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="theme-color" content="#660601">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <link href="{% static 'bootstrap.css' %}?76667676" type="text/css" rel="stylesheet">
    <link href="{% static 'theme.css' %}?67780212378" type="text/css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/211962e7dd.js" crossorigin="anonymous" async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" async></script>

    {% if title %}
      <title>LevelUp - {{title}}</title>
    {% else %}
      <title>LevelUp</title>
    {% endif %}
    <style>
      {% block style %}
      {% endblock style %}
    </style>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary py-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">LevelUp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
              <div class="dropdown">
                <button class="dropbtn font-monospace">Secciones</button>
                <div class="dropdown-content">
                  <a href="">Operaciones</a>
                  <a href="">Compras</a>
                  <a href="">Ventas</a>
                </div>
              </div>
          </ul>

          <div class="d-flex">
            <div class="btn-group" role="group" aria-label="User Profile button dropdown">
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-themed-outline-light dropdown-toggle pt-2 pb-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color: #1a1a1a !important"><i class="fas fa-user fa-lg"></i> {{ user.username }}</button>
                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="{% url 'userprofiles:profile' %}">Profile</a>
                  <a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <body>
    {% if message %}
      <br>
      <div class="alert alert-{{ category }}" style="width: 40%;margin: 2%;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
      </div>
    {% endif %}

    {% block content %}
    {% endblock content %}
  </body>
</html>
