{% extends base_template %}

{% load static %}

{% block style %}
body {
  padding-top: 0px;
}
{% endblock style %}

{% block content %}

<div class="p-5 text-center bg-image" style="background-image: url('{% static 'images/home/person_doing_deadlift.jpg' %}'); background-size: cover; height: 100vh;">
  <div class="container d-flex h-100">
    <div class="col justify-content-center align-self-center pt-4 pb-4" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <h1 class="text-white mb-3">Take it to the next Level</h1>
          <h4 class="text-white mb-3"><em>Sometimes A Workout Is All The Therapy You Need.</em></h4>
          <a class="btn btn-outline-light btn-md" href="{% url 'authentication:sign up' %}" role="button">Sign Up Now</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="height: calc(100vh - 70px);">
  <div class="d-flex flex-column h-100">
    <div class="d-flex align-items-left w-100">
      <legend class="border-bottom border-primary mt-4 mb-4"><h1 class="display-3 text-primary">¡Bienvenido a LevelUp!</h1></legend>
    </div>
    <div class="d-flex flex-grow-1 align-items-center">
      <div class="col">
        <img src="{% static 'images/home/example_graph.png' %}" alt="Graph Image" style="width: 512px; height: 384px;">
      </div>
      <div class="col">
        <h1 class="text-center">¿Qué es levelUp?</h1>
        <p class="lead">
          LevelUp es una aplicación web destinada a incentivar la actividad física a través de relaciones interpersonales graduadas por niveles de actividad física y te permite registrar tus sesiones de ejercicios. A través del conocimiento de estructuras de datos tales como pilas, colas, listas enlazadas (implementadas tanto con arreglos como con referencias), árboles y tablas hash se busca desarrollar de manera óptima las funcionalidades de la aplicación.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
