{% extends 'basetemplate_loggedin.html' %}

{% block content %}

<br>
<legend class="border-bottom mb-4 text-center">Workout<br>{{ workout.date }}</legend>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-8">
      <div class="content-section">
        {% for exercise in workout.exercises %}
          <div class="card shadow mb-3 px-3 pt-3">
            <div class="text-center">
              <h3><i class="fas fa-dumbbell" style="color:#7C2DAD"></i>{{ exercise.name }}<i class="fas fa-dumbbell" style="color:#7C2DAD"></i></h3>
            </div>
            <div class="text-center text-muted mt-3">
              <h5>Sets: {{ exercise.sets }}</h5>
            </div>
            <div class="text-center text-muted">
              <h5>Reps: {{ exercise.reps }}</h5>
            </div>
            <div class="text-center text-muted mb-2">
              <h5>Weight: {{ exercise.weight }}</h5>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
